body {
    padding: 0px;
    margin: 0px;
    background-color: #FAF9F6;
    color: #1F1F1F;
    
    /* no highlighting (disabling for accessibility)
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    
    /* mobile compatibility */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

.box {}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.name {
    font-size: 125px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    letter-spacing: -3px;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project {
    border: 1px solid black;
}

a {
    text-decoration: none;
}

a:link {
    color: #1F1F1F;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition-duration: color 0.2s;
}

a:visited {
    color: #1F1F1F;
}

a:hover {
    color: #CB83C7;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition-duration: 0.1s;
}
