body {
    padding: 0px;
    margin: 0px;
    background-color: #FAF9F6;
    color: #1F1F1F;
    
    /* no highlighting (disabling for accessibility)
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    
    /* mobile compatibility */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

.box {}

.lightbox-target {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  background: rgba(0,0,0,.7);
  transition: .5s ease-in-out;
}

.lightbox-display {
  cursor: zoom-out;
  opacity: 1;
  z-index: 10000;
}

.lightbox-image {
  cursor: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  transition: .5s ease-in-out;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.name {
  font-size: 125px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: -3px;
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

@media only screen and (max-width: 750px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
  float: left;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.desc {
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #1F1F1F;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition-duration: color 0.2s;
}

a:visited {
  color: #1F1F1F;
}

a:hover {
  color: #CB83C7;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition-duration: 0.1s;
}
